.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw
}
  
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  justify-items: center;
}
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  
  .card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  

  .App h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #1a1a1a;
  }

  .App {
    max-width: 1200px; /* largura máxima para desktops grandes */
    margin: 0 auto;
    padding: 20px;
  }

  .btn-new {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
    align-self: center;
  }
  
  
  .btn-new:hover {
    background-color: #1e7e34;
  }  
  
  .header {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #ff6a00, #ff3c3c);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  body {
    background-color: #fff8f0;
  }
  
  